[Unit]
Description=Back up and restore-check Utilibre Newsletter
After=docker.service
[Service]
Type=oneshot
UMask=0077
Nice=10
CPUQuota=100%
MemoryMax=256M
ExecStart=/usr/bin/python3 /home/ubuntu/freetools/deployment/newsletters/backup.py
