[Unit]
Description=Collect Utilibre performance every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=5s
RandomizedDelaySec=3s
Unit=utilibre-performance.service

[Install]
WantedBy=timers.target
