[Unit]
Description=Daily Utilibre addy backup
[Timer]
OnCalendar=*-*-* 06:35:00 UTC
RandomizedDelaySec=600
Persistent=true
[Install]
WantedBy=timers.target
